<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/Logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap"
      rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>Home | Amazing Events</title>
  </head>

  <body>
    <main class="d-flex flex-column vh-100" id="App">
      <header class="bg-dark text-white border-bottom border-danger">
        <nav class="navbar navbar-expand-md p-0 w-100">
          <div class="container-fluid">
            <a class="navbar-brand m-0" href="./index.html">
              <img class="ratio ratio-21x9" src="./assets/Logo_Amazing_Events.png" alt="Amazing Events Logo">
            </a>
            <button class="navbar-toggler btn btn-danger" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse pb-1" id="navbarSupportedContent">
              <ul
                class="navbar-nav list-group list-group-horizontal justify-content-evenly flex-row flex-wrap gap-1 w-100">
                <li class="nav-item">
                  <a class="btn btn-danger" href="./index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-danger" href="./upcoming-events.html">Upcoming Events</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-danger" href="./past-events.html">Past Events</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-danger" href="./contact.html">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-danger" href="./stats.html">Stats</a>
                </li>
                <!-- IF FAVOURITES -->
                <li v-if="favourites.length" class="nav-item">
                  <a class="btn btn-danger" href="./favourites.html">Favourites</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <section class="d-flex justify-content-between align-items-center bg-danger py-1 px-2 ">
        <a href="./stats.html" class="btn p-0 px-1 arrow-left"><span class="fs-2 text-white">➤</span></a>
        <h1 class="text-white fs-2">Home</h1>
        <a href="./upcoming-events.html" class="btn p-0 px-1"><span class="fs-2 text-white">➤</span></a>
      </section>
      <section class="d-flex flex-column p-4 flex-grow-1">
        <div class="d-flex flex-wrap px-3 gap-2">
          <!-- CHECKBOXES -->
          <div class="d-flex flex-wrap align-items-center justify-content-center gap-2 me-2" id="checkbox-container">
            <div v-for="item of categories" class="checkbox-button">
              <input type="checkbox" :id="`inlineCheckbox${item}`" :value=item v-model="categoriesSelected">
              <label class="form-check-label" :for="`inlineCheckbox${item}`">{{item}}</label>
            </div>
          </div>
          {{searchFilter}}
          <!-- SEARCH FORM -->
          <form class="input-group d-flex flex-grow-1 w-25" id="search-form" @submit.prevent>
            <input type="text" class="form-control" placeholder="Search Event..." v-model="word" id="search-input"
              aria-describedby="search-button" aria-label="Search">
            <button class="btn btn-outline-danger" type="submit">Search</button>
          </form>
          <div v-if="word && !events.length" class="d-flex flex-column align-items-center gap-2 w-100">
            <h2>No search results for : <p class="text-danger">{{word}}</p>
            </h2>
            <button class="btn btn-outline-danger" type="button" id="back-button" @click="this.word = ''">Back</button>
          </div>
        </div>
        <!-- CARDS -->
        <div
          class="row row-cols-1 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-4 m-0 justify-content-center text-center"
          id="card-container">
          <div v-if="loading && !word" class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <p v-if="error" class="fs-1 text-danger" role="status">{{error}}</p>
          <div v-for="event of events" class="d-flex col justify-content-center">
            <div class="card bg-dark text-white p-2 justify-content-between">
              <img :src=event.image class="card-img-top" :alt=`${event.name}`>
              <span class="card-text-top bg-dark text-white fs-5 px-2 bold">{{event.date}}</span>
              <button v-if="favourites.some(e => e.name === event.name)" @click="deleteFavourite(event)"
                class="card-fav btn fs-3 p-0">❤️</button>
              <button v-else @click="addFavourite(event)" class="card-fav btn fs-3 p-0">🤍</button>
              <div class="d-flex justify-content-between align-items-end text-start mt-1 gap-2">
                <div class="d-flex flex-column gap-2 w-100">
                  <h3 class="card-title fs-4 m-0">{{event.name}}</h3>
                  <a :href="`./event-details.html?id=${event._id}`" class="btn btn-danger">Details</a>
                </div>
                <p
                  class="d-flex flex-wrap flex-column justify-content-end align-items-center border border-light p-2 rounded">
                  <strong class="fs-2">${{event.price}}</strong><small>/Person</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="d-flex justify-content-between align-items-center bg-danger p-3">
        <nav class="d-flex gap-2">
          <a href="http://instagram.com" target="_blank" rel="noopener noreferrer" style="width: 3rem; height: 3rem;"
            class="d-flex bg-dark rounded-circle justify-content-center align-items-center">
            <img style="width: 2rem;" src="./assets/instagram.png" alt="instagram">
          </a>
          <a href="http://facebook.com" target="_blank" rel="noopener noreferrer" style="width: 3rem; height: 3rem;"
            class="d-flex bg-dark rounded-circle justify-content-center align-items-center">
            <img style="width: 2rem;" src="./assets/facebook.png" alt="facebook">
          </a>
          <a href="http://whatsapp.com" target="_blank" rel="noopener noreferrer" style="width: 3rem; height: 3rem;"
            class="d-flex bg-dark rounded-circle justify-content-center align-items-center">
            <img style="width: 2rem;" src="./assets/whatsapp.png" alt="whatsapp">
          </a>
        </nav>
        <h3 class="text-white border-bottom border-dark">FE-13</h3>
      </footer>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <script src="./home.js"></script>
  </body>

</html>